@tone: #fff;
// ^ variable.other.less

.rounded(@radius) {
// ^ entity.name.function.mixin.less
  border-radius: @radius;
//^ support.type.property-name.less
}

.card {
  color: darken(@tone, 10%);
//       ^ support.function.misc.less
}
